<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.dao.UserFileDAO">
    <select id="findByUserId" parameterType="Integer" resultType="UserFile">
        select id,oldFileName,newFileName,ext,path,size,type,isImg,downcounts, uploadTime,userId
        from t_files
        where userId=#{id}
    </select>
    <select id="findById" parameterType="Integer" resultType="UserFile">
        select id,oldFileName,newFileName,ext,path,size,type,isImg,downcounts,uploadTime,userId
        from t_files
        where id=#{id}
    </select>
    <insert id="save" parameterType="UserFile" useGeneratedKeys="true" keyProperty="id">
        insert into t_files
        values
        (#{id},#{oldFileName},#{newFileName},#{ext},#{path},
        #{size},#{type},#{isImg},#{downcounts},#{uploadTime},#{userId})
    </insert>
    <update id="update" parameterType="UserFile">
        update t_files
        set downcounts=#{downcounts}
        where id=#{id}
    </update>
    <delete id="delete" parameterType="Integer">
        delete
        from t_files
        where id=#{id}
    </delete>
</mapper>